body {
  font: 16px Helvetica, Arial, sans-serif;
}

.code {
  position: relative;
  width: 700px;
  background: #404040;
  margin: 50px auto 0 auto;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  /*overflow: auto;*/
}

code {
  color: white;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  line-height: 125%;
  /*word-wrap: normal;*/
  /*overflow: auto;*/
  /*word-break: normal;*/
}

.keyword { color: red; }
.operator { color: cyan; }
.number { color: orange; }
.punctuation { color: white; }
.function { color: yellow; }
.comment { color: lightgray; }

.copy {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background: black;
  color: lightgray;
  font: 12px Helvetica, Arial, sans-serif;
  border: none;
  box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.35);;
  padding: 8px;
  width: 100px;
}

.copy:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  background-image: url("copy_icon.png");
  background-size: 12px 12px;
}

.code:hover .copy {
  display: block;
}

button:hover {
  cursor: pointer;
}
