<!doctype html>
<html lang="en-US">
  <head>
    <title>File-Based CMS</title>
    <link rel="stylesheet" href="/stylesheets/cms.css">
  </head>
  <body>

    <% if session[:message] %>
      <p class="alert"><%= session.delete(:message) %></p>
    <% end %>

    <%== yield %>

  </body>
</html>
