<form action="/create" method="post">
  <dl>
    <dt>
      <label for="filename" id="filename">Add a New Document:</label>
    </dt>
      <input name="filename" type="text" placeholder="filename.ext" class="inline">
  </dl>
  <input type="submit" value="Create">
  <a href="/">Cancel</a>
</form>