<form action="/sign-in" method="post" id="sign_in">
  <label for="new_content"><h3>Sign in to Texty:</h3></label>
  
  Username: <input type="text" name="username" value="<%= session[:username] || '' %>"><br>
  Password: <input type="password" name="password"><br>
  
  <input type="submit" value="Sign In">
</form>